@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #b1bcbc;
    --text-color: #0e1111;
    --links-color: #051094;
    --hover-bg-color: #F5EDE3;
    --logo-color: #e76187;
}

body{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--bg-color);
    transition: .3s;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 25px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: none;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: #e76187;
    transition: .3s;
}

.nav-logo a:hover{
    color: var(--hover-bg-color);
    text-shadow: 0 0 10px var(--hover-bg-color);
}

.nav-logo{
    display: flex;
    list-style: none;
}

.nav-links ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover{
    color: var(--hover-bg-color);
    text-shadow: 0 0 10px var(--hover-bg-color);
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.head-logo{
    position: relative;
    text-align: center;
}

.head-logo h1{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 50%);
    font-size: 400px;
    color: #e76187;
    mask-image: linear-gradient(#000, rgba(0,0,0,0) 75%);
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0) 79%);
}

.head-logo img{
    display: block;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(#000, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
}

.selection-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.selection-content .card{
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    transition: .3s;
}

.selection-content .card:hover{
    transform: scale(1.05);
}

.selection-content .card img{
    max-width: 200px;
    height: auto;
    border: 4px solid white;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}

.selection-content .card h3{
    font-size: 60px;
}

.selection-content .card p{
    font-size: 12px;
}

button{
    background-color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

button:hover{
    background-color: blue;
    color: white;
    text-shadow: 0 0 15px var(--hover-bg-color);
}